{% extends "paginaCovid/base.html" %}
{% load static %}
{% block content %}
<center>
<section class="container">
<h1 style="color: white;">CONTACTANOS</h1>
<form action="/contacto" method="POST">{% csrf_token %}
<p><input type="text" name="asunto" placeholder="Asunto..." style="background-color: rgba(24, 64, 8); color: white;"></p>
<p><input type="text" name="email" placeholder="Email..." style="background-color: rgba(24, 64, 8); color: white;"></p>	
<p><textarea name="mensaje" placeholder="Mensaje..." rows="15" cols="45" style="background-color: rgba(24, 64, 8); color: white;"></textarea></p>
<input  class="btn btn-success" type="submit" value="Enviar">
</form>
</section>
</center>
{% endblock %}